.choose {
    width: 40%;
    margin: 0 5%;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #e6e5ed;
    border-radius: 30px;
}

button.choose:hover {
    border: 1.5px solid rgb(12, 130, 247);
    color: rgb(12, 130, 247);
    background-color:rgb(148, 225, 250);
}
.place {
    height: 50px;
}

.info {
    width: 50%;
}

.minplus {
    width: 50%;
    height: 50%;
}

.min, .plus{
    height: 100%;
    width: 10.5%;
    border: 2px solid black;
    border-radius: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.min:hover, .plus:hover {
    border-color: rgb(12, 130, 247);
    color: rgb(12, 130, 247);
}

.actived {
    width: 40%;
    margin: 0 5%;
    padding: 5px;
    border-radius: 30px;
    border: 1.5px solid rgb(12, 130, 247);
    color: rgb(12, 130, 247);
    background-color: #f6f5f8;
}